.card_list {
    /* display: flex;
    overflow-x: scroll; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    margin: 0 30px;
}

@media (max-width: 400px) {
    .card_list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 300px) {
    .card_list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}